<div id="main-content" class="main-content">
	<div class="content-area">
		<div class="container">
			<div class="page-404">
				<div class="icon-404">
				</div>
				<h1 class="text-center">{{ 'general.404.title' | t }}</h1>
				<p class="text-center">{{ 'general.404.subtext_html' | t }}</p>
				<div class="input-group">
			    	<input type="search" name="q" value="" aria-label="Search" class="form-control" placeholder="Search">
					<div class="input-group-btn">
						<button class="btn btn--full btn--black">
							<i class="icon-magnifier"></i>
						</button>
					</div>
				</div>
				<div class="button-return text-center">
					<a href="#" class="btn btn--full btn--black">Return to the previous page</a>
				</div>
			</div>
		</div>
	</div>
</div>