{% render 'breadcrumb' %}

<div id="main-content" class="section-space--pt_60">
    <div class="content-area contact-styte">
		<div class="section-element">
			<div class="container">
				<div class="row">
		            <div class="col-sm-12 ">
		            	{{ page.content }}
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>